In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.Series([np.nan,1]).count()

1

In [2]:
pd.__version__

'1.1.3'

In [17]:
import xpinyin
x = xpinyin.Pinyin()

In [27]:
np.random.seed(4)
School = np.random.choice(['Tsinghua University',
                           'Peking University',
                           'Fudan University',
                           'Shanghai Jiao Tong University'], 200, p = [0.4, 0.15, 0.2, 0.25])
Grade = np.random.choice(['Freshman', 'Sophomore', 'Junior', 'Senior'], 200, p = [0.3, 0.15, 0.25, 0.3])
Last_name = list('赵钱孙李周吴郑王冯陈褚卫蒋沈韩杨朱秦尤许何吕施张')
Last_name_pro = np.random.randint(0,10,24)
Last_name_pro = Last_name_pro / Last_name_pro.sum()
Last_name = np.random.choice(Last_name, 200, p = Last_name_pro.tolist())
Last_name = pd.Series([x.get_pinyin(i) for i in Last_name]).str.capitalize().values.tolist()
Mid, End = np.random.choice(list('艳晓高长成小春'), 200), np.random.choice(list('强鹏峰丽娟梅全'), 200)
Mid = pd.Series([x.get_pinyin(i) for i in Mid]).str.capitalize().values.tolist()
End = pd.Series([x.get_pinyin(i) for i in End]).values.tolist()
Name = [''.join([j, k, ' ', i]) if np.random.rand() > 0.3 else ''.join([str.capitalize(k), ' ', i]) for i, j, k in zip(Last_name, Mid, End)]
Gender = np.random.choice(['Male', 'Female'], 200, p = [0.3, 0.7])
Height = np.where(Gender == 'Male', np.random.randn(200) * 7 + 173, np.random.randn(200) * 5 + 160).round(1)
Weight = np.where(Gender == 'Male', Height - 105 + np.random.rand(200) * 10, Height - 115 + np.random.rand(200) * 8).round()
Height = np.where(np.random.choice([1, 2], 200, p = [0.05, 0.95]) == 1, np.nan, Height)
Weight = np.where(np.random.choice([1, 2], 200, p = [0.05, 0.95]) == 1, np.nan, Weight)
Transfer = np.random.choice(['Y', 'N'], 200, p = [0.04, 0.96])
Test_Time = pd.Series(np.random.choice(pd.period_range('20190902', '20200108'), 200)).astype('string')
Time_Record = pd.Series(np.random.choice(pd.timedelta_range('210s', '330s', freq='s'), 200)).astype('string').str[-8:]
Test_Number = np.random.choice([1, 2, 3], 200, p = [0.5, 0.35, 0.15])

In [28]:
df = pd.DataFrame({'School': School,
                   'Grade': Grade,
                   'Name': Name,
                   'Gender': Gender,
                   'Height': Height,
                   'Weight': Weight,
                   'Transfer': Transfer,
                   'Test_Number': Test_Number,
                   'Test_Time': Test_Time,
                   'Time_Record': Time_Record})

In [29]:
df

,School,Grade,Name,Gender,Height,Weight,Transfer,Test_Number,Test_Time,Time_Record
0,Shanghai Jiao Tong University,Freshman,Gaopeng Yang,Female,158.9,46.0,N,1,2019-10-05,00:04:34
1,Peking University,Freshman,Changqiang You,Male,166.5,70.0,N,1,2019-09-04,00:04:20
2,Shanghai Jiao Tong University,Senior,Mei Sun,Male,188.9,89.0,N,2,2019-09-12,00:05:22
3,Fudan University,Sophomore,Xiaojuan Sun,Female,NaN,41.0,N,2,2020-01-03,00:04:08
4,Fudan University,Sophomore,Gaojuan You,Male,174.0,74.0,N,2,2019-11-06,00:05:22
...,...,...,...,...,...,...,...,...,...,...
195,Fudan University,Junior,Xiaojuan Sun,Female,153.9,46.0,N,2,2019-10-17,00:04:31
196,Tsinghua University,Senior,Li Zhao,Female,160.9,50.0,N,3,2019-09-22,00:04:03
197,Shanghai Jiao Tong University,Senior,Chengqiang Chu,Female,153.9,45.0,N,1,2020-01-05,00:04:48
198,Shanghai Jiao Tong University,Senior,Chengmei Shen,Male,175.3,71.0,N,2,2020-01-07,00:04:58
199,Tsinghua University,Sophomore,Chunpeng Lv,Male,155.7,51.0,N,1,2019-11-06,00:05:05

In [120]:
df.drop_duplicates(df.columns[:4].tolist())

,School,Grade,Name,Gender,Height,Weight,Transfer,Test_Number,Test_Time,Time_Record
0,复旦大学,大一,杨高鹏,男,180.8,85.0,N,2,2020-01-05,00:04:17
1,上海交通大学,大一,尤强,女,159.2,49.0,N,1,2019-11-27,00:04:20
2,复旦大学,大四,孙春梅,女,161.9,54.0,N,3,2019-11-19,00:04:17
3,同济大学,大二,孙小娟,女,162.9,56.0,N,2,2019-12-31,00:04:33
4,同济大学,大二,尤高娟,女,162.0,50.0,N,1,2019-10-04,00:04:32
...,...,...,...,...,...,...,...,...,...,...
195,同济大学,大三,孙晓娟,女,169.4,62.0,N,3,2019-12-06,00:03:43
196,华东师范大学,大四,赵小丽,男,166.0,67.0,N,1,2019-11-22,00:04:55
197,复旦大学,大四,褚成强,女,152.3,40.0,N,1,2020-01-06,00:04:13
198,复旦大学,大四,沈成梅,男,171.1,76.0,N,1,2019-11-16,00:05:26
199,华东师范大学,大二,吕鹏,女,155.8,42.0,N,1,2019-10-20,00:04:49

In [30]:
df.to_csv('../data/learn_pandas.csv', encoding='utf-8', index=False)