In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('../data/learn_pandas.csv')

In [35]:
df[['School', 'Grade', 'Height', 'Weight']].drop_duplicates(['Grade', 'School']).set_index(['Grade', 'School']).unstack(0).stack(-1).reset_index('Grade')

                                   Grade  Height  Weight
School
Fudan University                Freshman   156.0    49.0
Fudan University                  Junior     NaN    48.0
Fudan University                  Senior   151.7    38.0
Fudan University               Sophomore     NaN    41.0
Peking University               Freshman   166.5    70.0
Peking University                 Junior   164.8     NaN
Peking University                 Senior   148.7    41.0
Peking University              Sophomore   151.6    43.0
Shanghai Jiao Tong University   Freshman   158.9    46.0
Shanghai Jiao Tong University     Junior   165.6    51.0
Shanghai Jiao Tong University     Senior   188.9    89.0
Shanghai Jiao Tong University  Sophomore   160.1    48.0
Tsinghua University             Freshman   158.0    51.0
Tsinghua University               Junior   161.9    50.0
Tsinghua University               Senior   165.3    57.0
Tsinghua University            Sophomore   175.0    79.0