In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/table_missing.csv')
df.head()

  School Class      ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1     NaN      M  street_1     173     NaN  34.0      A+
1    S_1   C_1     NaN      F  street_2     192     NaN  32.5      B+
2    S_1   C_1  1103.0      M  street_2     186     NaN  87.2      B+
3    S_1   NaN     NaN      F  street_2     167    81.0  80.4     NaN
4    S_1   C_1  1105.0    NaN  street_4     159    64.0  84.8      A-

In [4]:
df.isna().all(axis=1)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
dtype: bool

In [3]:
df = pd.DataFrame({'Data':L,'Bins':pd.cut(np.array(L), list(range(225,326,10)))})
df.head()

   Data        Bins
0   257  (255, 265]
1   276  (275, 285]
2   297  (295, 305]
3   252  (245, 255]
4   228  (225, 235]

In [4]:
#实际均值
np.mean(L)

273.64516129032256

In [5]:
#求近似均值
df.groupby('Bins').mean().mean()

Data    275.357143
dtype: float64

In [6]:
#实际中位数
np.median(L)

273.0

In [7]:
#求近似中位数
df.groupby('Bins').median().median()

Data    275.75
dtype: float64

这个题众数是不是出错了，数据很分散的呀

In [8]:
stats.mode(L)[0][0]

228